@tailwind utilities;

@layer utilities {
  .material-icons {
    font-family: 'Material Icons';
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    cursor: pointer;
  }

  .app-layout {
    @apply h-full overflow-hidden;
  }

  .app-header {
    @apply fixed top-0 left-0 right-0 h-header-height border-b;
  }

  .app-container {
    @apply w-full box-border mt-[theme(height.header-height)] transition-all duration-300;
  }

  .app-nav {
    @apply fixed top-[theme(height.header-height)] w-[theme(width.nav-width)] min-h-screen box-border border-r transition duration-300 ease-in-out;
  }

  .app-main {
    @apply bg-sky-950 max-h-[calc(100vh-theme(height.header-height))] h-full overflow-y-auto transition-all duration-300;
  }

  .list {
    @apply flex flex-col bg-zinc-50 w-64 h-fit p-2 mr-2 shadow-lg rounded-xl;
  }

  .card {
    @apply relative flex bg-white w-full min-h-11 border my-2 p-2 rounded-lg shadow-md cursor-pointer;
  }
}
