.cardDraggable {
  background-color: var(--kw-card-background-color);
  border-style: var(--kw-card-border-style);
  border-color: var(--kw-card-border-color);
  border-width: var(--kw-card-border-width);
  border-radius: var(--kw-card-border-radius);
  box-shadow: var(--kw-card-box-shadow);
  margin: calc(var(--kw-spacing) * 1.5) 0;
  outline: 0;
  transition: var(--kw-transition-duration) var(--kw-transition-timing-function);
  transition-property: background-color, border-color, box-shadow;

  &:hover,
  &:focus-visible {
    background-color: var(--kw-card-background-color-hovered);
    border-color: var(--kw-card-border-color-hovered);
    box-shadow: var(--kw-card-box-shadow-hovered);
  }

  &:active {
    background-color: var(--kw-card-background-color-pressed);
    box-shadow: var(--kw-card-box-shadow-pressed);
  }
}

.root {
  min-height: 2.25rem;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 1.5rem;
  padding: calc(var(--kw-spacing) * 2) calc(var(--kw-spacing) * 3);
}

.cardTitle {
  position: relative;
  display: flex;
  flex-basis: min-content;
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: calc(var(--kw-spacing) / 2);
  white-space: normal;
  overflow-wrap: anywhere;
}

.cardEditContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 15;
}

.cardActions {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.cardEditIcon {
  margin-left: var(--kw-spacing);
}

.cardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
