.root {
  box-sizing: border-box;
}

.addBoardContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--kw-board-background-color);
  border-radius: var(--kw-board-border-radius);
  box-shadow: var(--kw-board-box-shadow);
  padding: calc(var(--kw-spacing) * 4);
  width: 100%;
  max-height: 7rem;
}

.addBoardActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: calc(var(--kw-spacing) * 3);
  gap: 0.5rem;
}

.addBoardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--kw-add-button-background-color);
  box-shadow: var(--kw-board-box-shadow);
  border-color: var(--kw-button-secondary-border-color);
  border-radius: var(--kw-board-border-radius);
  width: 100%;
  height: calc(var(--kw-button-size) * 1.5);
  font-size: var(--kw-font-size-body);
  font-weight: 500;
  outline: 0;
  cursor: pointer;
  transition: var(--kw-transition-duration) var(--kw-transition-timing-function);
  transition-property: background-color;

  &:hover,
  &:focus-visible {
    background-color: var(--kw-add-button-background-color-hovered);
  }
}
