.listDraggable {
  display: block;
  flex-shrink: 0;
  align-self: flex-start;
  background-color: var(--kw-list-background-color);
  border-style: var(--kw-list-border-style);
  border-color: var(--kw-list-border-color);
  border-width: var(--kw-list-border-width);
  border-radius: var(--kw-list-border-radius);
  box-shadow: var(--kw-list-box-shadow);
  height: 100%;
  margin-right: calc(var(--kw-spacing) * 4);
  white-space: nowrap;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 16rem;
  max-height: 100%;
  padding: calc(var(--kw-spacing) * 2);
}

.listContainer {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.listHeader {
  position: relative;
  display: inline-flex;
  flex-basis: min-content;
  flex-grow: 1;
  flex-shrink: 1;
}

.listTitle {
  display: block;
  width: 100%;
  margin: 0;
  padding: calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 2)
    calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 3);
  overflow: hidden;
  box-sizing: border-box;
  border-style: var(--kw-input-border-style);
  border-width: var(--kw-input-border-width);
  border-color: transparent;
  font-size: var(--kw-font-size-subtitle);
  font-weight: 600;
  line-height: 1.25rem;
  white-space: normal;
  overflow-wrap: anywhere;
  cursor: pointer;
  z-index: 0;
}

.listTextArea {
  box-sizing: border-box;
  min-height: 1.25rem;
  padding: calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 2)
    calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 3);
  font-size: var(--kw-font-size-subtitle);
  font-weight: 600;
  overflow-wrap: anywhere;
  resize: none;
  transition: var(--kw-transition-duration) var(--kw-transition-timing-function);
  transition-property: border-color, box-shadow;
}

.listDeleteIcon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: var(--kw-spacing);
  margin-right: var(--kw-spacing);
}
