.wrapper {
  display: block;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
  margin-right: calc(var(--kw-spacing) * 4);
  white-space: nowrap;
}

.area {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 16rem;
  max-height: 100%;
  padding: calc(var(--kw-spacing) * 2);
  background-color: var(--kw-list-background-color);
  border-style: var(--kw-list-border-style);
  border-color: var(--kw-list-border-color);
  border-width: var(--kw-list-border-width);
  border-radius: var(--kw-list-border-radius);
  box-shadow: var(--kw-list-box-shadow);
}

.headerContainer {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.header {
  position: relative;
  display: inline-flex;
  flex-basis: min-content;
  flex-grow: 1;
  flex-shrink: 1;
}

.listTitle {
  display: block;
  width: 100%;
  margin: 0;
  padding: calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 2)
    calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 3);
  overflow: hidden;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: var(--kw-font-size-subtitle);
  font-weight: 600;
  line-height: 1.25rem;
  white-space: normal;
  overflow-wrap: anywhere;
  cursor: pointer;
  z-index: 0;
}

.textArea {
  box-sizing: border-box;
  min-height: 1.25rem;
  padding: calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 2)
    calc(var(--kw-spacing) * 1.5) calc(var(--kw-spacing) * 3);
  background: transparent;
  box-shadow: none;
  font-size: var(--kw-font-size-subtitle);
  font-weight: 600;
  overflow-wrap: anywhere;
  resize: none;
  transition:
    border-color var(--kw-transition-duration) ease,
    box-shadow var(--kw-transition-duration) ease;
}

.deleteIcon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: var(--kw-spacing);
  margin-right: var(--kw-spacing);
}

