.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  margin-bottom: calc(var(--kw-spacing) * 3);
}

.boardTitle {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  height: 2.5rem;
  padding: calc(var(--kw-spacing) * 1.125) calc(var(--kw-spacing) * 3);
  font-size: var(--kw-font-size-title);
  font-weight: 600;
  color: var(--kw-font-color);
  cursor: pointer;

  &:hover {
    background-color: var(--kw-add-button-background-color);
    border-radius: var(--kw-field-border-radius);
  }
}

.content {
  position: relative;
  flex-grow: 1;
}

.listDroppable {
  display: flex;
}

.cardDroppable {
  display: flex;
  flex-direction: column;
  margin: 0 calc(var(--kw-spacing) * 2);
}
