.container {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.05);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
  position: relative;
}

.title {
  display: inline-block;
  flex: 0 0 auto;
  max-height: 2.5rem;
  overflow: hidden;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  word-wrap: break-word;
}

.action {
  align-items: baseline;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
}
