.container {
  background-color: var(--kw-board-background-color);
  border-style: var(--kw-board-border-style);
  border-color: var(--kw-board-border-color);
  border-width: var(--kw-board-border-width);
  border-radius: var(--kw-board-border-radius);
  box-shadow: var(--kw-board-box-shadow);
  padding: calc(var(--kw-spacing) * 4);
  cursor: pointer;
  transition: transform var(--kw-transition-duration) var(--kw-transition-timing-function);

  &:hover {
    background-color: var(--kw-board-background-color-hovered);
    border-color: var(--kw-board-border-color-hovered);
    box-shadow: var(--kw-board-box-shadow-hovered);
    transform: scale(1.02);
  }

  &:active {
    background-color: var(--kw-board-background-color-pressed);
  }
}

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}

.title {
  display: inline-block;
  flex: 0 0 auto;
  max-height: 2.5rem;
  overflow: hidden;
  width: 100%;
  font-size: var(--kw-font-size-body);
  font-weight: 700;
  line-height: 1.25rem;
  word-wrap: break-word;
}

.action {
  display: flex;
  flex: 0 0 auto;
  align-items: baseline;
  justify-content: flex-end;
}
