.container {
  box-sizing: border-box;
  margin-top: calc(var(--kw-spacing) * 1.5);
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: var(--kw-spacing) 0;
}

.addCardButton {
  width: 100%;
}
