.wrapper {
  width: 16rem;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  width: inherit;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.55rem;
}

.addListButton {
  width: 16rem;
}
