.root {
  display: inline-block;
  vertical-align: -0.125em;
  font-family: 'Material Symbols Outlined Variable';
  font-size: var(--kw-font-size-body);
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}