.container {
  position: relative;
  min-height: 2.25rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &:hover {
    background-color: #eaeaea;
    transition: background-color 0.2s;
  }
  &:active {
    background-color: #d5d5d5;
    transition: background-color 0.2s;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.title {
  display: block;
  margin-bottom: 0.25rem;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
}

.editContainer {
  position: fixed;
  z-index: 15;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.saveButton {
  margin-right: 0.5rem;
}

.editIcon {
  margin-left: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
