@tailwind components;

@layer components {
  .material-symbols {
    font-family: 'Material Symbols Outlined Variable';
    display: inline-block;
    vertical-align: -0.125em;
    text-transform: none;
    line-height: 1;
  }

  .divider {
    height: 0.0625rem;
    margin: 0;
  }

  .divider::after,
  .divider::before {
    height: 0.05rem;
  }

  .dialog-actions > :last-child {
    @apply ml-2;
  }
}
