.root {
  box-sizing: border-box;
  width: 16rem;
  height: fit-content;
  cursor: pointer;
}

.addListContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--kw-list-background-color);
  border-radius: var(--kw-list-border-radius);
  box-shadow: var(--kw-list-box-shadow);
  width: inherit;
  padding: calc(var(--kw-spacing) * 4);
}

.addListActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: calc(var(--kw-spacing) * 3);
}

.addListButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--kw-add-button-background-color);
  box-shadow: var(--kw-list-box-shadow);
  border-radius: var(--kw-field-border-radius);
  width: 16rem;
  height: calc(var(--kw-button-size) * 1.5);
  font-size: var(--kw-font-size-body);
  font-weight: 500;
  outline: 0;
  transition: var(--kw-transition-duration) var(--kw-transition-timing-function);
  transition-property: background-color, border-color;

  &:hover,
  &:focus-visible {
    background-color: var(--kw-add-button-background-color-hovered);
  }
}
