.root {
  font-family: 'Material Symbols Outlined Variable';
  display: inline-block;
  vertical-align: -0.125em;
  text-transform: none;
  line-height: 1;
}

/* Sizes */
.iconSm {
  font-size: 1.25rem; /* 20px */
}

.iconMd {
  font-size: 1.5rem; /* 24px */
}

.iconLg {
  font-size: 2rem; /* 32px */
}
