:root {
  --kw-color-primary-rgb: 95, 139, 247;
  --kw-color-secondary-rgb: 140, 140, 140;
  --kw-color-success-rgb: 46, 125, 50;
  --kw-color-warning-rgb: 237, 108, 2;
  --kw-color-error-rgb: 211, 47, 47;

  --kw-color-primary: rgb(var(--kw-color-primary-rgb));
  --kw-color-secondary: rgb(var(--kw-color-secondary-rgb));
  --kw-color-success: rgb(var(--kw-color-success-rgb));
  --kw-color-warning: rgb(var(--kw-color-warning-rgb));
  --kw-color-error: rgb(var(--kw-color-error-rgb));

  --kw-spacing: 0.25rem;

  --kw-transition-duration: 200ms;
  --kw-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --kw-font-size-title: 1.25rem;
  --kw-font-size-subtitle: 0.875rem;
  --kw-font-size-body: 1rem;
  --kw-font-size-button: 0.8125rem;

  --kw-font-color: #000;
  
  --kw-paper-border-radius: 0.75rem;
  --kw-paper-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  --kw-board-background-color: #fff;
  --kw-board-background-color-hovered: #f3f3f3;
  --kw-board-background-color-pressed: #dadada;
  --kw-board-border-color: var(--kw-board-background-color);
  --kw-board-border-color-hovered: var(--kw-board-background-color-hovered);
  --kw-board-border-color-pressed: var(--kw-board-background-color-pressed);
  --kw-board-border-radius: var(--kw-paper-border-radius);
  --kw-board-border-style: none;
  --kw-board-border-width: 0;
  --kw-board-box-shadow: var(--kw-paper-box-shadow);
  --kw-board-box-shadow-hovered: var(--kw-board-box-shadow);
  --kw-board-box-shadow-pressed: var(--kw-board-box-shadow);

  --kw-list-background-color: #fff;
  --kw-list-border-color: var(--kw-list-background-color);
  --kw-list-border-radius: var(--kw-paper-border-radius);
  --kw-list-border-style: none;
  --kw-list-border-width: 0;
  --kw-list-box-shadow: var(--kw-paper-box-shadow);

  --kw-card-background-color: #fff;
  --kw-card-background-color-hovered: #f3f3f3;
  --kw-card-background-color-pressed: #dadada;
  --kw-card-border-color: #e3e3e3;
  --kw-card-border-color-hovered: var(--kw-card-border-color);
  --kw-card-border-color-pressed: var(--kw-card-border-color);
  --kw-card-border-radius: 0.625rem;
  --kw-card-border-style: solid;
  --kw-card-border-width: 1px;
  --kw-card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --kw-card-box-shadow-hovered: var(--kw-card-box-shadow);
  --kw-card-box-shadow-pressed: var(--kw-card-box-shadow);

  --kw-add-button-background-color: #e5e7eb;
  --kw-add-button-background-color-hovered: #d1d5db;

  --kw-field-border-radius: 0.375rem;

  --kw-button-size: 2rem;
  --kw-button-padding-x: calc(var(--kw-spacing) * 2.5);

  --kw-button-primary-background-color: rgb(95, 139, 247);
  --kw-button-primary-background-color-hovered: rgb(74, 116, 208);
  --kw-button-primary-border-color: var(--kw-button-primary-background-color);
  --kw-button-primary-border-color-hovered: var(
    --kw-button-primary-background-color-hovered
  );
  --kw-button-primary-border-radius: var(--kw-field-border-radius);
  --kw-button-primary-border-style: none;
  --kw-button-primary-border-width: 0;
  --kw-button-primary-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  --kw-button-primary-box-shadow-hovered: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  --kw-button-primary-color: #fff;
  --kw-button-primary-color-hovered: var(--kw-button-primary-color);
  --kw-button-primary-font-size: var(--kw-font-size-button);
  --kw-button-primary-font-weight: 400;

  --kw-button-secondary-background-color: transparent;
  --kw-button-secondary-background-color-hovered: rgba(140, 140, 140, 0.07);
  --kw-button-secondary-border-color: var(--kw-button-secondary-background-color);
  --kw-button-secondary-border-color-hovered: var(
    --kw-button-secondary-background-color-hovered
  );
  --kw-button-secondary-border-radius: var(--kw-field-border-radius);
  --kw-button-secondary-border-style: none;
  --kw-button-secondary-border-width: 0;
  --kw-button-secondary-box-shadow: none;
  --kw-button-secondary-box-shadow-hovered: none;
  --kw-button-secondary-color: rgb(140, 140, 140);
  --kw-button-secondary-color-hovered: var(--kw-button-secondary-color);
  --kw-button-secondary-font-size: var(--kw-font-size-button);
  --kw-button-secondary-font-weight: 600;

  --kw-button-icon-border-radius: 0.5rem;

  --kw-input-size: 2.5rem;

  --kw-input-background-color: #fff;
  --kw-input-background-color-focused: var(--kw-input-background-color);
  --kw-input-border-color: #ccc;
  --kw-input-border-color-focused: #007bff;
  --kw-input-border-radius: var(--kw-field-border-radius);
  --kw-input-border-style: solid;
  --kw-input-border-width: 1px;
  --kw-input-box-shadow: none;
  --kw-input-box-shadow-focused: 0 0 0 3px rgba(0, 123, 255, 0.25);
  --kw-input-color: #333;
  --kw-input-font-size: 1em;
  --kw-input-font-weight: 400;
}
