@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
  font-family: 'Material Icons';
  display: inline-block;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
}

@layer components {
  .divider {
    height: 0.0625rem;
    margin: 0;
  }

  .divider::after,
  .divider::before {
    height: 0.05rem;
  }
}
