.root {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-bottom: var(--kw-spacing);
  font-size: var(--kw-font-size-subtitle);
  color: var(--kw-input-color);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputContainer.hasStartIcon .inputField {
  padding-left: calc(var(--kw-spacing) * 7);
}

.inputContainer.hasEndIcon .inputField {
  padding-right: calc(var(--kw-spacing) * 7);
}

.inputStartIcon,
.inputEndIcon {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: var(--kw-font-size-title);
  color: #666;
  pointer-events: none;
}

.inputStartIcon {
  left: calc(var(--kw-spacing) * 2);
}

.inputEndIcon {
  right: calc(var(--kw-spacing) * 2);
}

.inputField {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
  height: var(--kw-input-size);
  padding: calc(var(--kw-spacing) * 1.125) calc(var(--kw-spacing) * 3);
  padding: 0.28125rem 0.75rem;
  background-color: var(--kw-input-background-color);
  border-color: var(--kw-input-border-color);
  border-radius: var(--kw-input-border-radius);
  border-style: var(--kw-input-border-style);
  border-width: var(--kw-input-border-width);
  box-shadow: var(--kw-input-box-shadow);
  color: var(--kw-input-color);
  font-size: var(--kw-input-font-size);
  font-weight: var(--kw-input-font-weight);
  transition: var(--kw-transition-duration) var(--kw-transition-timing-function);
  transition-property: background-color, border-color, box-shadow;
  outline: none;

  &:focus {
    background-color: var(--kw-input-background-color-focused);
    border-color: var(--kw-input-border-color-focused);
    box-shadow: var(--kw-input-box-shadow-focused);
  }
}
