@import '../../styles/variables.css';

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 var(--kw-button-padding-x);
  height: var(--kw-button-size);
  line-height: 1;
  cursor: pointer;
  outline: 0;
  transition: var(--kw-transition-duration) var(--kw-transition-timing-function);
  transition-property: background-color, border-color, box-shadow;
}

/* Color */
.colorPrimary {
  background-color: var(--kw-button-primary-background-color);
  border-style: var(--kw-button-primary-border-style);
  border-color: var(--kw-button-primary-border-color);
  border-width: var(--kw-button-primary-border-width);
  border-radius: var(--kw-button-primary-border-radius);
  box-shadow: var(--kw-button-primary-box-shadow);
  color: var(--kw-button-primary-color);
  font-size: var(--kw-button-primary-font-size);
  font-weight: var(--kw-button-primary-font-weight);

  &:hover,
  &:focus-visible {
    background-color: var(--kw-button-primary-background-color-hovered);
    border-color: var(--kw-button-primary-border-color-hovered);
    box-shadow: var(--kw-button-primary-box-shadow-hovered);
    color: var(--kw-button-primary-color-hovered);
  }
}

.colorSecondary {
  background-color: var(--kw-button-secondary-background-color);
  border-style: var(--kw-button-secondary-border-style);
  border-color: var(--kw-button-secondary-border-color);
  border-width: var(--kw-button-secondary-border-width);
  border-radius: var(--kw-button-secondary-border-radius);
  box-shadow: var(--kw-button-secondary-box-shadow);
  color: var(--kw-button-secondary-color);
  font-size: var(--kw-button-secondary-font-size);
  font-weight: var(--kw-button-secondary-font-weight);

  &:hover,
  &:focus-visible {
    background-color: var(--kw-button-secondary-background-color-hovered);
    border-color: var(--kw-button-secondary-border-color-hovered);
    box-shadow: var(--kw-button-secondary-box-shadow-hovered);
    color: var(--kw-button-secondary-color-hovered);
  }
}

/* Icon */
.startIcon,
.endIcon {
  font-size: var(--kw-font-size-title);
  line-height: 0;
  margin-right: var(--kw-spacing);
  margin-left: var(--kw-spacing);
}

.startIcon {
  margin-left: 0;
}

.endIcon {
  margin-right: 0;
}
